@import url("https://fonts.googleapis.com/css2?family=Redressed&family=Roboto:ital,wght@0,400;0,500;0,700;1,500&family=Space+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Redressed&family=Roboto:ital,wght@0,400;0,500;0,700;1,500&family=Space+Mono:wght@700&display=swap");

.sidebar-ad-container {
  width: 300px;
  height: 100%;
  background-color: #dd2f6e;
  position: fixed;
  top: 0px;
  bottom: 0pc;
  transition: 0.2s;
}
.sidebar-menu-ad {
  padding: 15px 0px 15px 15px;
}
.sidebar-menu-ad-logo {
  font-size: 22px;
  font-weight: bolder;
  color: white;
  margin-left: 15px;
  font-family: "Mulish", sans-serif;
  cursor: pointer;
}
.sidebar-menu-ad-logo span {
  margin-left: 12px;
}
.sidebar-menu-ad ul {
  list-style-type: none;
  padding: 0px;
  color: rgb(236, 236, 236);
  margin-top: 20px;
}
.sidebar-menu-ad ul li {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin: 5px 0px;
  cursor: pointer;
  padding: 7px 13px;
  border-radius: 20px 0px 0px 20px;
  transition: 0.3s;
  font-weight: 200;
}
.sidebar-menu-ad ul li:hover {
  background-color: rgb(255, 255, 255);
  color: #dd2f6e;
}
.sidebar-menu-ad ul li:hover #speciallink {
  color: #dd2f6e;
}
.sidebar-li-text {
  margin-left: 10px;
  font-weight: 400;
}
.sidebar-ad-space {
  background-color: rgb(255, 255, 255);
  color: #dd2f6e;
}
