.sitebottom {
  width: 100%;
  height: 60px;
  background-color: white;
  color: rgb(63, 100, 151);
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgb(212, 212, 212);
}
.sitebottom-item {
  font-family: 'Roboto', sans-serif;
}
.sitebottom-version {
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
}
.sitebottom-text {
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}
.sitebottom-number{
  border: 1px solid rgb(141, 160, 178);
  border-radius: 3px;
  padding: 3px 10px;
  font-weight: 500;
}
.sitebottom-number{
  display: flex;
  align-items: center;
}
#number-site{
  margin-left: 5px;
}

@media screen and (max-width: 670px) {
  .sitebottom {
    width: 100%;
    padding: 0px 20px;
    padding-right: 0px;
    display: flex;
    align-items: center;
    background-color: black;
    border-top: 1px solid rgb(80, 80, 80);
  }
  .sitebottom-item {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .sitebottom-version {
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .sitebottom-text {
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
@media screen and (max-width: 600px) {
  .sitebottom {
    width: 100%;
    padding: 0px 20px;
    padding-right: 0px;
    display: flex;
    align-items: center;
  }
  .sitebottom-item {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .sitebottom-version {
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .sitebottom-text {
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

@media screen and (max-width: 550px) {
  .sitebottom {
    width: 100%;
    padding: 0px 20px;
    padding-left: 10px;
    display: none;
    align-items: center;
    font-size: 13px;
  }
  .sitebottom-item {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .sitebottom-version {
    margin-left: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .sitebottom-text {
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: none;
  }
}
