.p-count{
    width: 100%;
    height: auto;
    background-repeat: no-repeat;  
    position: relative;
    background-color: rgb(86, 84, 241);
}
.p-container{
    position: relative;
    width: 1170px;
    height: 380px;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    padding-top: 140px;
    padding-right: 00px;
    padding-left: 0px;
}
.count-item{
    padding: 10px 0px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px dashed orange;
    z-index: 5;
}
.count-item:hover{
    border: 2px dashed orange;
}
.count-item-number{    
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder; 
    display: block;
    color: white;
}
.count-item-title{   
    display: block;
    font-size: 17px;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}

@media screen and (max-width: 1300px){
    .p-container{
        width: 1000px;
    }    
}
@media screen and (max-width: 1150px){
    .p-container{
        width: 800px;
    }    
}
@media screen and (max-width: 900px){
    .p-container{
        width: 600px;
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 100px;
        background-size: cover;
    }    
}
@media screen and (max-width: 600px){
    .p-container{
        width: 400px;
        height: 500px;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 50px;
        background-size: cover;
    }    
}

@media screen and (max-width: 500px){
    .p-container{
        width: auto;
        height: 500px;
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 50px;
        background-size: cover;
        margin-left: 12px;  
        margin-right: 12px;
    }    
}

