@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap");

.Teachers {
  background-color: rgb(255, 255, 255);
}
.teacher-void {
  height: 200px;
  width: 100%;
  font-size: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  color: gray;
  background-color: green;
  background-color: rgb(243, 243, 243);
}
.teacher-container {
  padding: 80px 0px;
  width: 1170px;
  margin: auto;
  height: auto;
}

.book-count {
  font-size: 25px;
  display: flex;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  margin-right: 20px;
  margin-top: -10px;
}
.teacher-title {
  display: flex;
  justify-content: space-between;
}
.teacher-title-text {
  font-size: 28px;
  font-family: "Arvo", serif;
  font-weight: bolder;
  padding-bottom: 13px;
  color: rgb(63, 63, 63);
}
.teacher-title-line hr {
  width: 50px;
  color: black;
  border: 1px solid black;
  color: black;
}
.teacher-item {
  display: flex;
  align-items: center;
  overflow-x: auto;
  padding-bottom: 20px;
  padding-top: 10px;
  border-top: 1px solid rgb(55, 255, 245);
}
.teacher-slider {
  text-align: center;
  margin-bottom: 20px;
}
.teacher-item::-webkit-scrollbar {
  width: 10px;
  height: 3px;
  cursor: pointer;
}

/* Track */
.teacher-item::-webkit-scrollbar-track {
  background: #00ffdd;
}

/* Handle */
.teacher-item::-webkit-scrollbar-thumb {
  background: rgb(255, 196, 0);
  border-radius: 4px;
}

/* Handle on hover */
.teacher-item::-webkit-scrollbar-thumb:hover {
  background: rgb(153, 99, 0);
  cursor: pointer;
}
.teacher-cards {
  border: 1px solid rgb(175, 175, 175);
  display: inline-block;
  margin: 0px 7px;
  text-align: center;
  cursor: pointer;
}
.teacher-icon {
  text-align: center;
  margin-top: -20px;
}
.teacher-cards-title {
  margin: auto;
  width: 250px;
  padding: 0px 15px;
}
.teacher-bookname {
  display: block;
}
.teacher-cards-image {
  width: 250px;
  height: 175px;
}
.teacher-icon {
  display: block;
}
.teacher-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.teacher-bookname {
  margin-top: 15px;
  padding: 0px 10px;
}
.teacher-bookcount {
  margin-bottom: 15px;
  padding: 0px 10px;
}

.teacher-title-span span {
  display: block;
  text-align: center;
  font-family: "Arvo", serif;
  font-weight: bolder;
  font-size: 17px;
}
.teacher-bookname {
  display: block;
}
.teacher-eye {
  padding: 10px 0px;
  border-top: 1px solid gray;
  color: rgb(116, 116, 116);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.teacher-eye .eye1 {
  font-size: 17px;
}
.teacher-count {
  margin-left: 10px;
}
.teacher-eye .check {
  margin-right: 10px;
  color: white;
  border-radius: 50%;
  padding: 3px;
  box-shadow: 0px 0px 2px green;
  background-color: green;
}
.teacher-eye-count {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 10px;
}

.backIcon,
.nextIcon {
  border: 2px solid rgb(63, 63, 63);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: rgb(63, 63, 63);
  font-size: 20px;
  margin: 0px 7px;
  cursor: pointer;
  transition: 0.4s;
}
.backIcon:hover,
.nextIcon:hover {
  background: orange;
  color: white;
}

.teacher-download {
  cursor: pointer;
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(226, 226, 226);
  display: inline-block;
  padding: 0px 3px;
  border-radius: 5px;
  transition: 0.3s;
  margin-left: 20px;
}
.teacher-download i {
  color: rgb(1, 107, 1);
}
.teacher-download:hover {
  color: rgb(11, 177, 11);
}

@media screen and (max-width: 1300px) {
  .teacher-container {
    padding: 80px 0px;
    width: 1100px;
    margin: auto;
    height: auto;
  }
}
@media screen and (max-width: 1150px) {
  .teacher-container {
    padding: 80px 0px;
    width: 1050px;
    margin: auto;
    height: auto;
  }
}
@media screen and (max-width: 1050px) {
  .teacher-container {
    padding: 80px 0px;
    padding-top: 10px;
    width: 850px;
    margin: auto;
    height: auto;
  }
}
@media screen and (max-width: 900px) {
  .teacher-container {
    padding: 80px 0px;
    padding-top: 10px;
    width: 780px;
    margin: auto;
    height: auto;
  }
  .teacher-title-text {
    font-size: 26px;
    font-family: "Arvo", serif;
    font-weight: bolder;
    padding-bottom: 13px;
    color: rgb(63, 63, 63);
  }
  .teacher-title-line hr {
    width: 50px;
    color: black;
    border: 1px solid black;
    color: black;
  }
}
@media screen and (max-width: 800px) {
  .teacher-container {
    padding: 80px 0px;
    padding-top: 0px;
    width: 550px;
    margin: auto;
    height: auto;
  }
}
@media screen and (max-width: 700px) {
  .teacher-title-text {
    font-size: 23px;
    font-family: "Arvo", serif;
    font-weight: bolder;
    padding-bottom: 13px;
    color: rgb(63, 63, 63);
  }
  .teacher-title-line hr {
    width: 50px;
    color: black;
    border: 1px solid black;
    color: black;
  }
}
@media screen and (max-width: 600px) {
  .teacher-container {
    padding: 80px 0px;
    padding-top: 0px;
    padding-top: 50px;
    width: 400px;
    margin: auto;
    height: auto;
  }
  .book-count {
    font-size: 21px;
    display: flex;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    margin-right: 20px;
    margin-top: -6px;
  }
  .teacher-title-text {
    font-size: 20px;
    font-family: "Arvo", serif;
    font-weight: bolder;
    padding-bottom: 13px;
    color: rgb(63, 63, 63);
  }
  .teacher-title-line hr {
    width: 50px;
    color: black;
    border: 1px solid black;
    color: black;
  }
}
@media screen and (max-width: 500px) {
  .teacher-void {
    font-size: 20px;
  }
  .teacher-container {
    padding: 30px 0px;
    padding-top: 0px;
    width: auto;
    margin: auto;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .backIcon,
  .nextIcon {
    border: 1px solid rgb(63, 63, 63);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 27px;
    color: rgb(63, 63, 63);
    font-size: 16px;
    margin: 0px 3px;
    cursor: pointer;
    transition: 0.4s;
  }
  .teacher-title {
    width: auto;
    padding: 0px 20px;
  }
  .teacher-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-right: 10px;
    margin-left: 15px;
  }
  .teacher-download {
    cursor: pointer;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(233, 233, 233);
    display: inline-block;
    padding: 0px 1px;
    border-radius: 5px;
    transition: 0.3s;
    margin-left: 25px;
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .teacher-title {
    padding-left: 10px;
    padding-right: 10px;
  }
  .teacher-title-text {
    font-size: 18px;
    font-family: "Arvo", serif;
    font-weight: bolder;
    padding-bottom: 13px;
    color: rgb(82, 82, 82);
  }
  .backIcon,
  .nextIcon {
    border: 1px solid rgb(63, 63, 63);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: rgb(63, 63, 63);
    font-size: 16px;
    margin: 0px 2px;
    cursor: pointer;
    transition: 0.4s;
  }
  .teacher-container {
    padding: 30px 0px;
    padding-top: 0px;
    width: auto;
    margin: auto;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  .teacher-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
    padding-bottom: 20px;
    padding-top: 10px;
  }
  .book-count {
    font-size: 18px;
    display: flex;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    margin-right: 20px;
    margin-top: -6px;
    color: rgb(78, 78, 78);
  }
}
