.test-link {
  padding-top: 25px;
}
.test-link-content {
  width: 1170px;
  margin: auto;
}
.test-link-title {
  font-size: 28px;
  font-family: "Arvo", serif;
  font-weight: bolder;
  color: rgb(63, 63, 63);
}
.test-link-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.test-link1 {
  display: block;
  width: 200%;
  width: 200%;
  text-align: left;
  padding: 5px 10px;
  margin: 15px 10px;
  box-shadow: 0px 0px 7px rgb(150, 150, 150);
  background-color: rgb(27, 97, 145);
  color: white;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.42s;
  padding-right: 40px;
}
.test-link1:hover {
  box-shadow: 0px 0px 7px gray;
  color: rgb(40, 240, 230);
}
.test-link-image img {
  width: 300px;
  height: 230px;
}
#list-icon {
  position: absolute;
  right: 20px;
}

#test-link1 {
  background-color: green;
}
#test-link3 {
  background-color: rgb(4, 119, 119);
}
#test-link4 {
  background-color: crimson;
}

@media screen and (max-width: 1200px) {
  .test-link-content {
    width: 950px;
    margin: auto;
  }
  .test-link1 {
    width: 170%;
  }
}

@media screen and (max-width: 1200px) {
  .test-link-content {
    width: 950px;
    margin: auto;
    margin-top: 25px;
  }
  .test-link1 {
    width: 170%;
  }
}
@media screen and (max-width: 1150px) {
  .test-link-content {
    width: 950px;
    margin: auto;
    margin-top: 25px;
    padding-bottom: 30px;
  }
  .test-link1 {
    width: 170%;
  }
}
@media screen and (max-width: 1000px) {
  .test-link-content {
    width: 850px;
    margin: auto;
    margin-top: -80px;
    padding-top: 0px;
  }
  .test-link1 {
    width: 150%;
  }
}

@media screen and (max-width: 900px) {
  .test-link-content {
    width: 750px;
    margin: auto;
    margin-top: -80px;
    padding-top: 0px;
  }
  .test-link1 {
    width: 170%;
  }
}
@media screen and (max-width: 900px) {
  .test-link-content {
    width: 750px;
    margin: auto;
    margin-top: -80px;
    padding-top: 0px;
  }
  .test-link1 {
    width: 130%;
  }
  .test-link-image img {
    width: 270px;
    height: 200px;
  }
}
@media screen and (max-width: 800px) {
  .test-link-content {
    width: 670px;
    margin: auto;
    margin-top: -80px;
    padding-top: 0px;
  }
  .test-link1 {
    width: 110%;
  }
}

@media screen and (max-width: 750px) {
  .test-link-content {
    width: 600px;
    margin: auto;
    margin-top: -80px;
    padding-top: 0px;
  }
  .test-link1 {
    width: 170%;
  }
  .test-link-image img {
    width: 300px;
    height: 230px;
    display: none;
  }
}
@media screen and (max-width: 670px) {
  .test-link-content {
    width: 530px;
    margin: auto;
    margin-top: -40px;
    padding-top: 0px;
  }
  .test-link1 {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .test-link-content {
    width: 450px;
    margin: auto;
    margin-top: -40px;
    padding-top: 0px;
  }
  .test-link1 {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .test-link-content {
    width: 350px;
    margin: auto;
    margin-top: -40px;
    padding-top: 0px;
  }
  .test-link1 {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .test-link {
    padding-top: 25px;
  }
  .test-link-content {
    width: 100%;
    margin: auto;
    margin-top: -40px;
    padding-top: 0px;
    padding: 0px 20px;
    padding-bottom: 30px;
    padding-top: 0px;
  }
  .test-link1 {
    width: 100%;
    display: flex;
    margin-left: 0pc;
    font-size: 18px;
    padding: 5px 9px;
    padding-right: 37px;
  }
  #list-icon {
    position: absolute;
    right: 15px;
  }
  .link-space {
    margin-top: -5px;
  }
}
