.test-add-textarea{
    position: relative;
}
.test-add-textarea button{
    position: absolute;
    right: 0px;
    color: rgb(0, 0, 0);
    padding: 2px 6px;
    border-radius: 3px;
}
.test-add-textarea textarea{
    width: 100%;
    outline: none;
    border: 1px solid gray;
    border-radius: 4px;
    margin-bottom: 7px;
    padding: 5px 5px 5px 13px;
    font-size: 17px;
    color: rgb(77, 77, 77);
    font-weight: 500;
}

.test-add-textarea textarea:focus{
    box-shadow: 0px 0px 3px rgb(38, 96, 255);
}

#test-add-question{
    margin-top: 10px;
}
#test-add-question span{
    font-size: 17px;
    font-weight: 600;
    color: gray;
}
#test-add-question textarea{
   margin-top: 5px;
}
.test-add-relative{
    position: relative;
}
.test-add-relative span{
    background-color: gray;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(20, 149, 255);
    width: 25px;
    height: 25px;
    position: absolute;
    display: flex;
    border-radius: 50%;
    z-index: 2;
    left: -13px;
    top: -7px;
    align-items: center;
    justify-content: center;
}




