@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Mulish&family=Redressed&family=Roboto:ital,wght@0,400;0,500;0,700;1,500&family=Space+Mono:wght@700&display=swap");

.class-add-container {
  box-shadow: 0px 0px 10px rgb(199, 199, 199);
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}
.class-form-label {
  font-size: 18px;
  color: rgb(109, 109, 109);
  margin-bottom: 3px;
  font-weight: bolder;
  font-family: "Cabin", sans-serif;
}
.class-add-title {
  color: gray;
  font-size: 18px;
}
.class-add-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 700;
  padding: 10px;
  font-family: "Cabin", sans-serif;
}
.class-add-button {
  visibility: hidden;
}
