.listlearn {
  padding: 20px 30px;
}
.book-void {
  width: 100%;
  height: 200px;
  background-color: rgb(240, 240, 240);
  color: rgb(131, 131, 131);
  text-align: center;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  margin-top: 20px;
  border-radius: 5px;
}
.listlearn-title {
  color: rgb(95, 95, 95);
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  text-align: center;
}
.listlearn-container {
  padding: 10px 50px;
  margin-top: 20px;
}
.listlearn-container-item {
  background: rgb(216, 241, 239);
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  padding: 3px 15px;
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid rgb(223, 223, 223);
  border-left: 3px solid rgb(255, 136, 0);
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}
.listlearn-container-item:hover {
  border: 1px solid green;
}
.listlearn-icon {
  color: rgb(7, 190, 7);
}

@media screen and (max-width: 1000px) {
  .listlearn {
    padding: 20px 30px;
  }
  .listlearn-title {
    color: rgb(95, 95, 95);
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: center;
  }
  .listlearn-container {
    padding: 10px 10px;
    margin-top: 30px;
  }
  .listlearn-container-item {
    background: rgb(216, 241, 239);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    padding: 3px 15px;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid rgb(223, 223, 223);
    border-left: 3px solid rgb(255, 136, 0);
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
  }
  .listlearn-container-item:hover {
    border: 1px solid green;
  }
  .listlearn-icon {
    color: rgb(7, 190, 7);
  }
}

@media screen and (max-width: 750px) {
  .listlearn {
    padding: 20px 30px;
  }
  .listlearn-title {
    color: rgb(95, 95, 95);
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: center;
  }
  .listlearn-container {
    padding: 10px 0px;
  }
  .listlearn-container-item {
    background: rgb(216, 241, 239);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    padding: 3px 15px;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid rgb(223, 223, 223);
    border-left: 3px solid rgb(255, 136, 0);
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
  }
  .listlearn-container-item:hover {
    border: 1px solid green;
  }
  .listlearn-icon {
    color: rgb(7, 190, 7);
  }
}

@media screen and (max-width: 600px) {
  .listlearn {
    padding: 20px 10px;
  }
  .book-void {
    width: 100%;
    height: 200px;
    background-color: rgb(240, 240, 240);
    color: rgb(131, 131, 131);
    text-align: center;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    margin-top: 20px;
    border-radius: 5px;
  }

  .listlearn-title {
    color: rgb(95, 95, 95);
    font-size: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: center;
  }
  .listlearn-container {
    padding: 10px 0px;
  }
  .listlearn-container-item {
    background: rgb(216, 241, 239);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    padding: 3px 15px;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid rgb(223, 223, 223);
    border-left: 3px solid rgb(255, 136, 0);
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  }
  .listlearn-container-item:hover {
    border: 1px solid green;
  }
  .listlearn-icon {
    color: rgb(7, 190, 7);
  }
}

@media screen and (max-width: 550px) {
  .listlearn-container {
    margin-top: 70px;
  }
}

@media screen and (max-width: 450px) {
  .listlearn {
    padding: 10px 5px;
  }
  .listlearn-title {
    color: rgb(95, 95, 95);
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: center;
  }
  .listlearn-container {
    padding: 5px 0px;
    margin-top: 75px;
  }
  .listlearn-container-item {
    background: rgb(216, 241, 239);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    padding: 3px 10px;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid rgb(223, 223, 223);
    border-left: 3px solid rgb(255, 136, 0);
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
  }
  .listlearn-container-item:hover {
    border: 1px solid green;
  }
  .listlearn-icon {
    color: rgb(7, 190, 7);
  }
}
@media screen and (max-width: 400px) {
  .listlearn {
    padding: 10px 4px;
  }
  .listlearn-title {
    color: rgb(95, 95, 95);
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: center;
  }
  .listlearn-container {
    padding: 3px 0px;
  }
  .listlearn-container-item {
    background: rgb(216, 241, 239);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    padding: 4px 10px;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid rgb(223, 223, 223);
    border-left: 3px solid rgb(255, 136, 0);
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
  }
  .listlearn-container-item:hover {
    border: 1px solid green;
  }
  .listlearn-icon {
    color: rgb(7, 190, 7);
  }
}

@media screen and (max-width: 320px) {
  .book-void {
    font-size: 17px;
  }
}
