.notification-container{
    padding-top: 45px;    
}
.notification-item{
    padding: 30px;  
}

.note-item{
    box-shadow: 0px 0px 5px rgb(188, 188, 188);
    border-radius: 3px;
    margin-bottom: 20px;
    background-color: white;  
    padding: 5px 10px;  
    font-family: 'Roboto', sans-serif;  
    border: 1px solid #ece3ff;
    border-top: 3px solid #854fff;    
}

#note-title{
    border-bottom: 1px solid rgb(213, 213, 213);
    padding-bottom: 1px;
    font-weight: 500;
    font-size: 16px;
}
#note-body{
    padding-top: 5px;
    font-size: 16px;
}

@media screen and (max-width: 550px) {
    .notification-container{
        padding-top: 75px;    
    }
    .notification-item{
        padding: 30px 10px;
    }    
    .note-item{
        box-shadow: 0px 0px 5px rgb(188, 188, 188);
        border-radius: 3px;  
        margin-bottom: 17px;
        background-color: white;  
        padding: 5px 10px;  
        font-family: 'Roboto', sans-serif;
        border: 1px solid #ece3ff;
        border-top: 3px solid #854fff;    
    }

}



