.natija-container {
  padding: 70px 20px 20px 20px;
  height: 100vh;
}
.data-not-found {
  width: 1000px;
  border: 1px solid #c4c4c4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  font-size: 22px;
  font-weight: bolder;
  color: gray;
  margin-top: 15px;
  border-radius: 5px;
}
.natija-button-item {
  border: none;
  outline: none;
  margin: 4px 4px;
  padding: 3px 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 3px rgb(190, 190, 190);
  border-bottom: 2px solid rgb(235, 235, 235);
}
.natija-button-item:focus {
  border-bottom: 2px solid orange;
}

@media screen and (max-width: 1050px) {
  .data-not-found {
    width: 100%;
    border: 1px solid #c4c4c4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    font-size: 21px;
    font-weight: bolder;
    color: gray;
    margin-top: 15px;
    border-radius: 5px;
  }
}

@media screen and (max-width: 550px) {
  .natija-container {
    padding: 100px 10px 15px 10px;
  }
  .natija-button-item {
    border: none;
    outline: none;
    margin: 4px 4px;
    padding: 2px 7px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgb(190, 190, 190);
    border-bottom: 2px solid rgb(235, 235, 235);
  }
}
