.accaunt-login {
  height: 100%;
  width: 100%;
  padding-top: 100px;
}
.form-div {
  position: relative;
}
.accaunt-container {
  width: 500px;
  margin: auto;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 3px rgb(206, 206, 206);
}
.accaunt-title {
  font-size: 20px;
  font-weight: 500;
  display: block;
  text-align: center;
  margin-bottom: 23px;
  color: rgb(56, 56, 56);
}
.accaunt-container #fullname,
#type,
#number {
  display: block;
  width: 100%;
  border: 1px solid rgb(190, 190, 190);
  outline: none;
  padding: 5px 8px;
  border-radius: 4px;
  color: rgb(77, 77, 77);
  font-weight: 500;
  margin-bottom: 7px;
  font-size: 16px;
}
.accaunt-container label {
  font-size: 15px;
  font-weight: 500;
  color: rgb(104, 104, 104);
  margin-bottom: 2px;
}
.create-error-text {
  color: red;
}
.accaunt-container #button {
  width: 100%;
  margin-top: 10px;
  background-color: rgb(0, 140, 255);
  color: white;
  border: none;
  outline: none;
  padding: 5px 0px;
  border-radius: 3px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.accaunt-container #button:focus {
  box-shadow: 0px 0px 6px gray;
  background-color: rgb(6, 126, 224);
}
.input-icons {
  position: absolute;
  right: 10px;
  font-size: 13px;
  padding: 2px;
  top: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(21, 223, 65);
  color: white;
  visibility: hidden;
}

.input-icons-error {
  position: absolute;
  right: 10px;
  font-size: 13px;
  padding: 2px;
  top: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: white;
  visibility: hidden;
  width: 17px;
}

.input-icons-phone {
  position: absolute;
  right: 10px;
  font-size: 13px;
  padding: 3px;
  top: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  color: green;
  visibility: visible;
  font-size: 15px;
  width: 20px;
}

@media screen and (max-width: 700px) {
  .accaunt-login {
    height: 100%;
    width: 100%;
    padding-top: 100px;
  }
  .accaunt-container {
    width: 450px;
    margin: auto;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 3px rgb(206, 206, 206);
  }
  .accaunt-title {
    font-size: 18px;
    font-weight: 500;
    display: block;
    text-align: center;
    margin-bottom: 23px;
    color: rgb(56, 56, 56);
  }
}

@media screen and (max-width: 500px) {
  .accaunt-login {
    height: 100%;
    width: 100%;
    padding-top: 85px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .accaunt-container {
    width: 100%;
    margin: auto;
    background-color: aliceblue;
    padding: 18px 15px 20px 15px;
    border-radius: 4px;
    box-shadow: 0px 0px 3px rgb(206, 206, 206);
  }
  .accaunt-title {
    font-size: 18px;
    font-weight: 500;
    display: block;
    text-align: center;
    margin-bottom: 23px;
    color: rgb(56, 56, 56);
  }
  .accaunt-container #fullname,
  #type,
  #number {
    display: block;
    width: 100%;
    border: 1px solid rgb(190, 190, 190);
    outline: none;
    padding: 5px 8px;
    border-radius: 4px;
    color: rgb(77, 77, 77);
    font-weight: 500;
    margin-bottom: 7px;
    font-size: 15px;
  }
  .accaunt-container label {
    font-size: 14px;
    font-weight: 500;
    color: rgb(104, 104, 104);
    margin-bottom: 2px;
  }
  .input-icons {
    position: absolute;
    right: 7px;
    font-size: 13px;
    padding: 2px;
    top: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(21, 223, 65);
    color: white;
  }

  .input-icons-error {
    position: absolute;
    right: 7px;
    font-size: 13px;
    padding: 2px;
    top: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    width: 17px;
  }

  .input-icons-phone {
    position: absolute;
    right: 6px;
    font-size: 13px;
    padding: 3px;
    top: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: green;
    visibility: visible;
    font-size: 14px;
    width: 20px;
  }
}
