@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Mulish&family=Redressed&family=Roboto:ital,wght@0,400;0,500;0,700;1,500&family=Space+Mono:wght@700&display=swap");

.classadddata-ad {
  margin-top: 20px;
}
#classadddata-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0px 0px 10px rgb(204, 204, 204);
  border-radius: 5px;
}

#classadddata-table td,
#classadddata-table th {
  border: 1px solid #ddd;
  padding: 10px;
}

#classadddata-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#classadddata-table tr:hover {
  background-color: #ddd;
}

#classadddata-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: white;
}
#classadddata-id {
  width: 45px;
  text-align: center;
  font-weight: 700;
}

tr #classadddata-id-th {
  text-align: center;
  color: black;
}
#classadddata-table tr th {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}

.classadddata-table-user-title {
  display: block;
  font-size: 22px;
  font-weight: 700;
  padding: 10px;
  font-family: "Cabin", sans-serif;
  background-color: none;
}
.classadddata-edit {
  border: none;
  width: 60px;
  box-shadow: 0px 0px 6px rgb(167, 167, 167);
  padding: 2px 0px;
  border-radius: 4px;
  background-color: #32dbf1;
  color: rgb(58, 58, 58);
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.classadddata-edit:focus {
  background-color: #1aa7b9;
  color: rgb(236, 236, 236);
}
.classadddata-edit span {
  margin-left: 3px;
}
.classadddata-delete {
  border: none;
  width: 75px;
  box-shadow: 0px 0px 6px rgb(167, 167, 167);
  padding: 2px 0px;
  border-radius: 4px;
  background-color: rgb(253, 13, 13);
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.classadddata-delete span {
  margin-left: 3px;
}
.classadddata-delete:focus {
  background-color: rgb(207, 8, 8);
  color: rgb(236, 236, 236);
}
#classadddata-edit-td {
  width: 85px;
  text-align: center;
}
#classadddata-delete-td {
  width: 100px;
  text-align: center;
}
.classadddata-table-user-text {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 0px;
  border-radius: 5px 5px 0px 0px;
  background-color: white;
}
#classadddata-see-data {
  border: none;
  outline: none;
  color: white;
  background-color: #dd2f6e;
  font-size: 18px;
  border-radius: 10px;
  padding: 2px 5px;
  border-radius: 15px;
  padding: 2px 10px;
  box-shadow: 0px 0px 5px rgb(139, 139, 139);
}
#classadddata-see-data:hover {
  box-shadow: 0px 0px 7px gray;
}
