.easy {
  padding-top: 100px;
}
.easy-container {
  width: 600px;
  margin: auto;
  box-shadow: 0px 0px 6px gray;
  padding: 15px 20px;
  border-radius: 3px;
}
.easy-content {
  display: block;
  margin-top: 20px;
}
.easy-label-item {
  display: block;
  margin: 10px 0px;
  margin-left: 10px;
  padding-right: 20px;
  width: 100%;
}
.easy-label {
  padding: 8px 10px;
  background-color: rgb(233, 233, 233);
  border-radius: 2px;
  width: 100%;
  display: flex;
  align-items: center;
}
.easy-answer {
  margin-left: 5px;
  color: black;
  font-size: 18px;
}
.easy-button {
  margin-top: 30px;
  padding: 0px 10px;
}
.easy-button Button {
  height: 38px;
}
.easy-error {
  color: red;
  margin-top: 7px;
  font-size: 14px;
  margin-left: 10px;
  font-weight: 500;
}
