.course-body {
    padding-top: 5px;
    padding-bottom: 10px;
}
.courses-content {
    padding: 20px 30px;
}

.course-item {
    box-shadow: 0px 0px 5px rgb(205, 205, 205);
    margin-top: 18px;
    border-radius: 5px;
    background-color: white;
    padding: 15px 17px;
}
#course-title {
    display: block;
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    color: #515b68;
}
.course-content-title{
    font-size: 24px;
    color: #494949;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
}

#course-btn {
    color: white;
    border-radius: 25px;
    font-size: 18px;
    width: 100px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 5px 0px;
    cursor: pointer;
    transition: 0.3s;
    background: #854fff;
}

#course-btn:hover,  #course-btn:focus{
    box-shadow: 0px 0px 5px #c0c0c0;
    cursor: pointer;
    background: #986cff;
}

#course-body {
    padding: 10px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 13px;
    font-family: "Roboto", sans-serif;
    border-left: 3px solid #8094ae;
    background: #f0f0f0;
}

@media screen and (max-width: 600px) {
    .course-content-title span {
        font-size: 21px;
        font-family: "Cabin", sans-serif;
        font-weight: bold;
        color: #494949;
    }
    .courses-content {
        padding: 10px 20px;
    }
    .course-body {
        padding-top: 0px;
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 500px) {
    .course-item {
        box-shadow: 0px 0px 5px rgb(136, 136, 136);
        margin-top: 15px;
        border-radius: 5px;
        background-color: white;
        padding: 13px 15px;
    }
    #course-title {
        display: block;
        font-size: 19px;
        font-weight: bolder;
        font-family: "Cabin", sans-serif;
    }
    #course-btn {
        color: white;
        border-radius: 25px;
        font-size: 18px;
        width: 100px;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        border: none;
        outline: none;
        padding: 5px 0px;
        cursor: pointer;
        transition: 0.3s;
    }
    .courses-content {
        padding: 10px 16px;
    }
}