.t-c-item {
  width: auto;
  height: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 7px rgb(181, 181, 181);
}
.t-c-title {
  background-color: #854fff;
  border-radius: 5px 5px 0px 0px;
  font-size: 20px;
  color: white;
  padding: 8px 0px 8px 20px;
}
.t-c-body {
  padding: 10px 30px 5px 20px;
  margin: 0px;
}
.t-c-count {
  border-bottom: 1px solid lightgray;
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.t-c-count-item {
  background-color: red;
  color: #ffffff;
  font-size: 11px;
  border-radius: 9px;
  padding: 0px 5px;
  min-width: 28px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.t-c-count-item-space {
  margin-left: 3px;
}
.t-c-do {
  border-bottom: 1px solid lightgray;
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.t-c-do-item {
  background-color: red;
  color: #ffffff;
  font-size: 11px;
  border-radius: 9px;
  padding: 0px 5px;
  min-width: 28px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.t-c-do-item-space {
  margin-left: 3px;
}

.t-c-open-item {
  background-color: #854fff;
  color: hsl(0, 0%, 100%);
  font-size: 13px;
  border-radius: 7px;
  padding: 0px 8px;
  min-width: 28px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}
.t-c-open-item:hover {
  background-color: #a47dff;
}
.t-c-open {
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 550px) {
  .t-c-item {
    width: auto;
    height: auto;
    margin-bottom: 15px;
    border-radius: 5px;
  }
  .t-c-title {
    font-size: 18px;
    color: white;
    padding: 6px 0px 6px 20px;
  }
  .t-c-count-title {
    font-size: 13px;
  }
  .t-c-body {
    padding: 8px 20px 2px 15px;
    margin: 0px;
  }
  .t-c-count {
    border-bottom: 1px solid lightgray;
    padding: 4px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .t-c-count-item {
    background-color: red;
    color: #ffffff;
    font-size: 11px;
    border-radius: 9px;
    padding: 0px 5px;
    min-width: 28px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .t-c-count-item-space {
    margin-left: 3px;
  }
  .t-c-do {
    border-bottom: 1px solid lightgray;
    padding: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .t-c-do-title {
    font-size: 13px;
  }
  .t-c-do-item {
    background-color: red;
    color: #ffffff;
    font-size: 11px;
    border-radius: 9px;
    padding: 0px 5px;
    min-width: 28px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .t-c-do-item-space {
    margin-left: 3px;
  }
  .t-c-open-title {
    font-size: 13px;
  }
  .t-c-open-item {
    color: hsl(0, 0%, 100%);
    font-size: 12px;
    border-radius: 7px;
    padding: 0px 7px;
    min-width: 28px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .t-c-open-item-space {
    margin-left: 3px;
  }

  .t-c-open {
    padding: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
