.test-add-container {
  box-shadow: 0px 0px 10px rgb(199, 199, 199);
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}
.test-add-content-select{
  margin-bottom: 20px;
  font-size: 17px;
  border-radius: 2px;
}
#test-add-content-select1{
  width: 100%;
  padding: 5px;
  outline: none;
}

.test-add-question-icon{
  font-size: 20px;
  color: rgb(77, 77, 77);
  cursor: pointer;
  transition: 0.2s;
}
.test-add-question-icon:hover{
  color: rgb(99, 175, 180);
}
.test-add-question-span{
  margin: 0px 5px 0px 0px;
}
.test-add-question-input{
  color: aliceblue;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px;
  color: rgb(88, 88, 88);
  font-size: 16px;
  width: 100%;
  outline: none;
  font-weight: 500;
}
.test-add-question-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#test-add-div2 Button{
  border-radius: 4px;
}
#test-add-question-input-div{
  margin-top: 5px;
}
#test_add_count{
  background-color: aquamarine;
  border-radius: 50%;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 4px 6px;
  font-weight: 600;
  border: 1px solid rgb(230, 230, 230);
  margin-right: 10px;
}
.text-add-answer{
  margin-top: 8px;
  position: relative;
}
#text-add-answer-item{
  color: aliceblue;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px 20px;
  color: rgb(88, 88, 88);
  font-size: 16px;
  width: 100%;
  outline: none;
  font-weight: 500;
}
#text-add-span-answer{
  position: absolute;
  background-color: crimson;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 4px 6px;
  font-weight: 600;
  border: 1px solid rgb(230, 230, 230);
  margin-right: 10px;
  top: -10px;
  left: -10px;
  width: 30px;
  height: 30px;
}
#text-add-change{
  padding: 5px;
  font-size: 17px;
  border: 1px solid gray;
  border-radius: 3px;
  width: 100px;
}
#text-add-answer-change{
  margin-top: 20px;
}